<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MatBangController</servlet-name>
        <servlet-class>com.example.thimd3.controller.MatBangController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatBangController</servlet-name>
        <url-pattern>/matbangs</url-pattern>
    </servlet-mapping>
</web-app>